.DS_Store
Thumbs.db
/content/*
/assets/lib
/assets/css/app.min.css
/assets/js/build/*
/assets/js/app.concat.js
/assets/js/plugins.concat.js
/node_modules
/npm-debug.log
/site/accounts
/assets/avatars
/thumbs/*