[submodule "kirby"]
	path = kirby
	url = git://github.com/getkirby/kirby.git
[submodule "panel"]
	path = panel
	url = git://github.com/getkirby/panel.git
[submodule "site/fields/builder"]
	path = site/fields/builder
	url = https://github.com/TimOetting/kirby-builder.git
[submodule "site/plugins/typography"]
	path = site/plugins/typography
	url = https://github.com/fabianmichael/kirby-typography.git
