@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'
@import 'normalize.css'
@import '../oembed/oembed.css'

// Media queries
$desktop = 1600px
$laptop = 1100px
$tablet = 770px
$mobile = 400px

// Colors
$primary ?= #000
$secondary ?= #fff

// Metrics
$padding = 40px

// CSS Reset
global-reset()

webfont('FGR', 'FGR', true, 'normal')
webfont('FGL', 'FGL', true, 'light')

body,html
	width 100%
	background-color $primary
	color $secondary
	-webkit-text-size-adjust 100%

html
	font-family 'FGR', 'Helvetica Neue', 'Arial', sans-serif
	font-size 62.5%

body
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 2rem
	line-height 1

p
	margin-bottom 1em
	line-height 1.1em

p:last-of-type
	margin-bottom 0

h1
	text-transform uppercase
	font-size 4.7rem

h2
	text-align center
	text-transform uppercase
	line-height 1.4em
	padding-top 1em
	border-bottom 1px solid

h2:first-of-type
	padding-top 0

strong
	text-transform uppercase

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary url('../images/loader.gif') center no-repeat
	background-size 15px
	z-index 10000

img.lazyimg
	transition(opacity, 200ms)

img.lazyimg
	opacity 0

img.lazyimg.lazyloaded
	opacity 1

#intro
	position fixed
	flexbox()
	justify-content space-between
	flex-direction column
	font-size 30vw
	text-transform uppercase
	top 0
	left 0
	z-index 10000
	text-align center
	padding $padding
	background $primary
	width 100%
	height 100vh
	cursor pointer
	transition(transform,1s)
	span
		margin-bottom -.36em
	
#intro.hidden
	transform(translateY(-100%))

header
	position fixed
	top 0
	left 0
	z-index 1000
	width 100%
	padding $padding $padding 0
	flexbox()
	justify-content space-between
	align-items flex-start
	nav#menu
		cursor pointer
		transition(opacity)
		opacity 1
		ul
			display none
			li
				display inline-block
				margin-top .3em
			li.active
				border-bottom 1px solid
	nav#menu:hover
		ul
			display block
	#info_menu
		transition(opacity)
		opacity 1
	.close
		visibility hidden
		transition()
		opacity 0
		position absolute
		top $padding
		right $padding
		font-family 'FGL', 'Helvetica Neue', 'Arial', sans-serif
		font-size 2.7rem
		cursor pointer

#container
	margin-top 11rem
	.inner
		.page_content
			padding 0 $padding
			transition(opacity)
			opacity 1
			z-index 100
			.column
				col(1/2, cycle:2)
				+below($tablet)
					stack()
			section#stockists
				text-transform uppercase
				+above($tablet)
					height calc(100vh - 140px)
					overflow-y scroll
					margin-bottom 0
			section
				span(1)
			section.section-bloc
				margin-bottom 1em
			section.section-row
				padding .8em 0 .4em
				border-bottom 1px solid
				.section-title
					text-transform uppercase 
				.column
					span(1/2)
			section.section-row:last-of-type
				border-bottom none

body.leaving
	cursor wait
	#container .inner
		.page_content
			opacity 0

body.page
	header
		nav#menu, #info_menu
			opacity 0
		.close
			opacity 1
			visibility visible
		