@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'
@import 'normalize.css'
@import '../oembed/oembed.css'

// Media queries
$desktop = 1600px
$laptop = 1100px
$tablet = 770px
$mobile = 400px

// Colors
$primary ?= #000
$secondary ?= #fff

// Metrics
$padding = 40px

// CSS Reset
global-reset()

webfont('FGR', 'FGR', true, 'normal')
webfont('FGL', 'FGL', true, 'light')

body,html
	width 100%
	background-color $primary
	color $secondary
	-webkit-text-size-adjust 100%

html
	font-family 'FGR', 'Helvetica Neue', 'Arial', sans-serif
	font-size 62.5%

body
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 1.6vw
	line-height 1
	+below($tablet)
		font-size 1.8rem !important

p
	margin-bottom 1em
	line-height 1.1em

p:last-of-type
	margin-bottom 0

h1
	text-transform uppercase
	font-size 4.7rem
	+above($desktop)
		font-size 8rem
	+below($tablet)
		font-size 4rem

h2
	text-align center
	text-transform uppercase
	line-height 1.4em
	padding-top 1em
	border-bottom 1px solid

h2:first-of-type
	padding-top 0

strong
	text-transform uppercase

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary url('../images/loader.gif') center no-repeat
	background-size 15px
	z-index 10000

img.lazyimg
	transition(opacity)

img.lazyimg
	opacity 0

img.lazyimg.lazyloaded
	opacity 1

#intro
	position fixed
	flexbox()
	justify-content space-between
	flex-direction column
	font-size 30vw
	text-transform uppercase
	top 0
	left 0
	z-index 10000
	text-align center
	padding $padding
	background $primary
	width 100%
	height 100vh
	cursor pointer
	transition(all,600ms)
	opacity 1
	visibility visible
	+below($tablet)
		padding ($padding / 2)
		font-size 29vw
	span
		margin-bottom -.36em
	
#intro.hidden
	opacity 0
	visibility hidden

div.gps
	padding-bottom 1em
	cursor default
	span.address
		display none
		text-transform initial

div.gps:hover, span.gps.displayed
	span.address
		display block
	span.gps
		display none

header
	position fixed
	top 0
	left 0
	z-index 1000
	width 100%
	#topbar
		width 100%
		position absolute
		padding $padding $padding 0
		flexbox()
		justify-content space-between
		align-items flex-start
		+below($tablet)
			width 'calc(100% - %s)' % ($padding)
			left ($padding / 2)
			padding ($padding / 2) 0 0
		nav#menu
			cursor pointer
			transition()
			opacity 1
			visibility visible
			ul
				display none
				li
					display inline-block
					margin-top .3em
				li.active
					border-bottom 1px solid
		nav#menu:hover
			ul
				display block
		#info_menu
			transition()
			opacity 1
			visibility visible
	.close
		display none
		transition()
		opacity 0
		position absolute
		top $padding
		right $padding
		font-family 'FGL', 'Helvetica Neue', 'Arial', sans-serif
		font-size 2vw
		cursor pointer
		+below($tablet)
			top ($padding / 2)
			right ($padding / 2)
			font-size 2rem !important

#container
	margin-top 11rem
	+above($desktop)
		margin-top 13rem
	+below($tablet)
		margin-top 8rem
	.inner
		.page_content
			position relative
			margin 0 $padding $padding
			transition(opacity)
			opacity 1
			z-index 100
			+below($tablet)
				margin 0 ($padding / 2) ($padding / 2)
			.column
				col(1/2, cycle:2)
				+below($tablet)
					stack()
			section#stockists
				text-transform uppercase
				+above($tablet)
					height calc(100vh - 143px)
					overflow-y scroll
					margin-bottom 0
				+above($desktop)
					height calc(100vh - 170px)
			section
				span(1)
			section.section-bloc
				margin-bottom 1em
			section.section-row
				padding .8em 0 .4em
				border-bottom 1px solid
				.section-title
					text-transform uppercase 
				.column
					span(1/2)
			section.section-row:last-of-type
				border-bottom none
			div.image
				span(1/2.9)
				position absolute
				margin-bottom $padding
				+below($tablet)
					position initial
			div.left
				left 0
			div.midleft
				left 33%
				margin-left -17%
			div.center
				left 50%
				margin-left -17%
			div.midright
				right 33%
				margin-right -17%
			div.right
				right 0
			div.image, div.left, div.midleft, div.midright, div.right
				+below($tablet)
					margin 0 0 ($padding / 2)
					width 100%

body.leaving
	cursor wait
	#container .inner
		.page_content
			opacity 0

body.page
	header
		+below($tablet)
			background $primary
		#topbar
			+below($tablet)
				background $primary
			nav#menu, #info_menu
				opacity 0
				visibility hidden
		.close
			opacity 1
			display block
	header.scrolled
		#topbar
			+below($tablet)
				border-bottom 1px solid

.no-js
	.loader, #intro, .lazyimg
		display none